
<nav class="navbar navbar-light bg-light ">
  <div class="container-fluid">
    <a class=" nav-link" routerLinkActive="active" routerLink="/pending">
          <img src="assets/nisum-logo.png"  height="40" class="d-inline-block align-text-top"/>
    </a>
   <div class="btn btn-outline-dark " routerLinkActive="active" routerLink="/login">Logout</div>
   <!-- <i class="bi bi-person-circle"></i> -->
  <!-- <div><app-logout></app-logout></div> -->
 </div>
    <!-- <ul class="ms-auto">
      <li class="btn"><a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a></li>
      <li class="btn"><a class="nav-link" routerLinkActive="active" routerLink="/all">All Orders</a></li>
      <li class="btn"><a class="nav-link" routerLinkActive="active" routerLink="/login">Logout</a></li>
      <li class="btn"><a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a></li>
    </ul> -->
   <!-- <div  class="btn dropdown-toggle" type="button" data-toggle="dropdown"> <i class="bi bi-person-circle" ></i> </div>
    <div class="dropdown-menu">
      <div class="dropdown-item"><a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a></div>
    </div> -->

    <!-- <button class="btn border-dark" routerLinkActive="active" routerLink="/login">Sign in/out</button> -->

  <!-- </div> -->
</nav>
